.m-auto {
    margin: auto;
}

.br-50p {
    border-radius: 50px;
}

.ml-40-pr {
    margin-left: 40%;
}

.btn2 {
    margin-left: 10px;
    padding: 7px;
}

.hide {
    visibility: hidden;
}

/* .hidden{ */
/* display: none; */
/* } */
.rounded2r {
    border-radius: 0px 25px 25px 0px;
}

.txt-centre {
    text-align: center;
}

.m-7p {
    margin: 7px;
}

.fw-normal {
    font-weight: normal !important;
}

.displayImage{
    width: 100px !important;
    height: 100px !important;
}
