/*----------------------------------------*/
/**  Header css
/*----------------------------------------*/
@media only screen and (min-width: 991px){
    .header-search-box .form-group .fa-search{
        display: flex;
        justify-content: flex-end;
    } 
}
@media only screen and (max-width: 991px){
    #logo, .header-dropdown{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .header-search-box .form-group{
        text-align: center;
        
    }
    .header-search-box .form-group .fa-search, .header-search-box .form-group .form-control{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 500px){
    .profile_dropdown{
        top: 20px !important;
        left: -25px !important;
    }
    .message_dropdown {
        top: 20px !important;
        left: -67px !important;
    }
    .notification_dropdown{
        top: 20px !important;
        left: -111px !important;
    }
}
/*======================= 
/** Common CSS 
=========================*/
@media (min-width: 992px) {
    #main {
      min-height: 100vh;
    }
  }
  
/*======================= 
/** Gallery CSS 
=========================*/
@media only screen and (max-width: 991px){
    
    .gallery-tab{
        margin-bottom: 20px;
    }
    .tab-button{
        display: block;
        text-align: center;
    }
}
/*======================= 
/** footer CSS 
=========================*/
@media only screen and (max-width: 991px){
    
    .usefull-link ul {
        display: block;
        text-align: center;
    }
    .realeyze {
       justify-content: center;
    }
}
/*======================= 
/** Login-register CSS 
=========================*/
@media only screen and (max-width: 991px){
    
    .login-register-btn{
        text-align: center;
    }
    .login-toggle-btn{
        display: block;
        justify-content: center;
    }
    .login-option{
        margin-bottom: 15px;
    }
}
/*======================= 
/** post page CSS 
=========================*/
@media only screen and (max-width: 480px){
    .post-artist{
        bottom: 40px;
    }
    .post-like{
        bottom: 10px;
        left: 40px;
        right: 0px
    }
     
}
@media only screen and (min-width: 991px){
    .post-description{
        height: 150vh;
    }
}
@media only screen and (max-width: 991px){
    .post-description{
       margin-top: 30px;
    }
}






@media only screen and (max-width: 480px){
    .filter{
        flex-direction: column;
    }
    .post-btn{
        order: 2;
    }
    .filter .dropdown{
        order: 1;
        text-align: center;
        margin-bottom: 10px;
    }  
    .mediums-dropdown {
        transform: translate3d(70px, 38px, 0px) !important;
    }   
}
@media only screen and (max-width: 575px) {
    .gallery-tab .slick-next {
        right: -10px;
    }
    .gallery-tab .slick-prev {
        left: -16px;
    }
}