@media only screen and (max-width: 1860px) {}
@media only screen and (max-width: 1680px) {}
@media only screen and (max-width: 1440px) {}
@media only screen and (max-width: 1366px) {}
@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1199px) {}
@media only screen and (max-width: 1169px) {}
@media only screen and (max-width: 1023px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 959px) {}
@media only screen and (max-width: 800px) {}
@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 640px) {}
@media only screen and (max-width: 575px) {}
@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 1180px) {
    .posttab li a{
        padding: 10px 15px;
    }
}
@media (min-width: 992px){
    #container {
        min-height: 100vh;
    }
}
@media only screen and (max-width: 991px){
    #logo, .header-dropdown{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .header-search-box .form-group{
        text-align: center;
    }
    .header-search-box .form-group .fa-search, .header-search-box .form-group .form-control{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .profile_dropdown{
        top: 20px !important;
        left: -25px !important;
    }
    .message_dropdown {
        top: 20px !important;
        left: -67px !important;
    }
    .notification_dropdown{
        top: 20px !important;
        left: -116px !important;
    }
    .filter{
        flex-direction: column;
    }
    .post{
        order: 2;
    }
    .artsoption{
        order: 1;
        margin-bottom: 10px;
    }

    .realeyze {
       justify-content: center;
    }
    .loginregisterbtn{
        margin: 10px 0px;
        justify-content: center;
    }
    .login-register{
        min-height: 75vh;
    }
    .upload-info{
        margin-bottom: 20px;
    }
    .upload-thumb{
        text-align: center;
    }
    .upload-thumb img{
        max-width: 100%;
        width: auto;
        height: auto;
        max-height: 300px;
    }
    .maturitybox{
        text-align: center;
    }
    .descriptionbox, .commentsbox, .reviewbox{
        height: auto;
    }
    .posttab li {
        width: 33.33%;
    }
}

@media only screen and (max-width: 767px) {
    .usefull-link ul {
        display: block;
        text-align: center;
    }
    .upload-btn-wrapper a{
        font-size: 60px;
    }
    .postslider.owl-carousel .owl-nav .owl-next{
        right: 0px;
    }
    .postslider.owl-carousel .owl-nav .owl-prev{
        left: 0px;
    }
}
@media only screen and (max-width: 480px) {
    .login-register-form{
        padding: 20px;
    }
    .login-registerwrapper{
        font-size: 14px;
    }
    .login-register {
        padding: 50px 0px;
    }
}
