/******** Fontface Fonts ********/

@font-face {
    /*font-family: 'Montserrat';*/
    font-family: 'Montserrat, sans-serif' !important;
    src: url('../font/montserrat-regular.woff2') format('woff2'), url('../font/montserrat-regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: normal;
}

@font-face {
    /*font-family: 'Montserrat';*/
    font-family: 'Montserrat, sans-serif' !important;
    src: url('../font/montserrat-bold.woff2') format('woff2'), url('../font/montserrat-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    /* font-family: 'Anton'; */
    font-family: 'Anton, sans-serif' !important;
    src: url('../font/anton-regular.woff2') format('woff2'), url('../font/anton-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    /*font-family: 'Anton';*/
    font-family: 'Verdana, sans-serif' !important;
    /* src: url('../font/Verdana.woff2') format('woff2'), url('../font/Verdana.woff') format('woff'); */
    src: url('../font/Verdana.ttf') format('ttf');
    /*, url('../font/Verdana.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Verdana', sans-serif !important;
}


/*=======================
/** Reset CSS
=========================*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    /* content: ''; */
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/*=======================
/** Common CSS
=========================*/

body {
    line-height: 1.15;
    background-color: #fff;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-weight: bold;
}

.btngreen {
    background-color: #14c4af;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #14c4af;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}

.btngreen.active{
    font-size: large;
    margin-top: -21px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.btnyellow {
    background-color: #f0e965;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f0e965;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}

.btnyellow.active{
    font-size: large;
    margin-top: -21px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.btndarkyellow {
    background-color: #c0c416;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c0c416;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}
.btndarkyellow.active{
    font-size: large;
    margin-top: -21px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}


/*=======================
/** Header CSS
=========================*/

#header {
    background-color: #14c4af;
    padding: 10px;
}

#header>.row {
    margin-left: 0px;
    margin-right: 0px;
}

#logo a {
    display: inline-block;
}

#logo img {
    display: block;
    width: 60px;
}

.header-search-box .headsearch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchicon {
    height: 38px;
    width: 38px;
    background-color: #f0e965;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.searchicon i {
    margin-left: -7px;
}

.searchbox {
    width: 70%;
}

.searchbox .form-control {
    border-radius: 5px;
}

.header-dropdown {
    display: flex;
    justify-content: flex-end;
}

.profile a,
.message a,
.notification a,
.plus a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.profile img,
.message img,
.notification img,
.plus img {
    display: block;
    width: 35px;
}

.profile_dropdown {
    top: 20px !important;
    left: 10px !important;
}

.message_dropdown {
    top: 20px !important;
    left: 10px !important;
}

.notification_dropdown {
    top: 20px !important;
    left: 10px !important;
}

.profile_dropdown,
.message_dropdown,
.notification_dropdown {
    position: absolute;
    user-select: none;
    background: #fff;
    border: 1px solid #c7d8e2;
    width: 200px;
    height: auto;
    display: none;
    border-radius: 3px;
    box-shadow: 10px 10px 35px rgb(0 0 0 / 13%), -10px -10px 35px rgb(0 0 0 / 13%);
}

.profile_dropdown::before,
.message_dropdown::before,
.notification_dropdown::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.profile_li {
    border-bottom: 1px solid #f1f2f4;
}

.profile_li a {
    display: block;
    padding: 10px;
    position: relative;
    color: #000000;
}

.profile_li a span {
    display: inline-block;
    width: 30px;
    /* margin-right: 20px; */
}

.message_dropdown li,
.notification_dropdown li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 0px;
}

.form-control:focus {
    box-shadow: rgb(20 196 175) 0px 0px 0px 0.2rem;
}

.loginregisterbtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.loginregisterbtn a {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}


/*=======================
/** Main Section CSS
=========================*/

.gallery {
    padding: 10px 0px;
}

.gallertab .item {
    text-align: center;
}

.gallertab.owl-carousel .owl-nav.disabled {
    display: block;
}

.owl-carousel .owl-stage-outer{
    margin-left: 2%;
    margin-right: 2%;
}

.gallertab.owl-carousel .owl-nav [class*="owl-"] {
    margin: 0;
    padding: 0;
    background-color: inherit;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
}

.gallertab.owl-carousel .owl-nav [class*="owl-"]:hover {
    color: #3680c5;
}

.gallertab.owl-carousel .owl-nav [class*="owl-"] {
    color: #14c4af;
    font-size: 34px;
}

.gallertab.owl-carousel .owl-nav [class*="owl-"]:hover {
    color: #c0c416;
}

.gallertab.owl-carousel .owl-nav .owl-prev {
    left: -12px;
}

.gallertab.owl-carousel .owl-nav .owl-next {
    right: -12px;
}

.owl-next.disabled, .owl-prev.disabled {
    display: none !important;
}
.gallertab.owl-carousel .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.gallertab .item a {
    display: inline-block;
}

.tabbox {
    display: inline-block;
    padding: 15px 10px;
    background-image: url(../images/gallerytab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    z-index: 99;
}

.tabbox h2 {
    color: #ffffff;
}

.tabbox::before {
    content: '';
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}

.page-type>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.post .button {
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    margin-right: 5px;
}

.page-type>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px var(--shadow);
}

.filter {
    /* margin-top: 20px; */
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artsoption {
    display: flex;
    align-items: center;
}

.page-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.small {
    grid-column: span 1;
    grid-row: span 1;
}

.meddropdown {
    color: #ffffff;
    padding: 5px 10px;
    background-color: #14c4af;
}

.mediums .dropdown-item {
    padding: 5px 30px;
}

.commissions {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.commissions label {
    margin-right: 5px;
}


/*----------------------------------------*/


/**  Upload-popup css
/*----------------------------------------*/

.upload-popup .modal-content {
    border: 0px;
    border-radius: 0px;
}

.upload-popup .modal-header {
    border-bottom: 0px;
}

.upload-popup .modal-header::after {
    content: "";
    position: absolute;
    width: 90%;
    top: 60px;
    border-bottom: 1px solid #e9ecef;
}

.upload-popup .modal-body .popup-btn {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 5px;
    margin-top: 5px;
}

.upload-popup .modal-body #popup-option {
    display: none;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.upload-popup .modal-body .btn {
    width: 120px;
    display: block;
}

.upload-popup .modal-body span {
    margin-right: 10px;
    margin-left: 10px;
}

.upload-popup .modal-footer {
    border-top: 0px;
}


/*=======================
/** Footer CSS
=========================*/

#footer {
    background-color: #14c4af;
    padding: 10px;
}

#footer>.row {
    margin-left: 0px;
    margin-right: 0px;
}

.usefull-link ul {
    display: flex;
}

.usefull-link ul li {
    margin-left: 10px;
    margin-right: 10px;
}

.realeyze {
    display: flex;
    justify-content: flex-end;
}


/*=======================
/** artist page CSS
=========================*/

.post-description {
    background: #ffffff;
    padding: 10px;
}

.post-dropdown {
    display: flex;
    margin-bottom: 10px;
}

.hashtag {
    margin-bottom: 10px;
}

.rateing h5,
.feedback h5 {
    color: #067265;
}

.owner-name {
    margin: 10px 0px;
}

.review {
    display: flex;
}

.review h3 {
    color: #067265;
}

.review p,
.note h5 {
    color: #6c757d;
}

.artist-rateing ul {
    list-style-type: none;
    display: inline-block;
}

.rateing img {
    width: 100%;
    height: auto;
    max-width: 15px;
    margin-left: 10px;
}

.rateing {
    display: flex;
    justify-content: space-between;
}

#full-stars-example-two .rating-group {
    display: inline-flex;
}

#full-stars-example-two .rating__icon {
    pointer-events: none;
}

#full-stars-example-two .rating__input {
    position: absolute !important;
    left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
    display: none;
}

#full-stars-example-two .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 25px;
}

#full-stars-example-two .rating__icon--star {
    color: orange;
}

#full-stars-example-two .rating__input:checked~.rating__label .rating__icon--star {
    color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}

#full-stars-example-two .rating__input:hover~.rating__label .rating__icon--star {
    color: #ddd;
}

.rateing-title {
    text-align: right;
}

.rateing-title span {
    margin-left: 10px;
    margin-right: 10px;
    color: #6c757d;
}

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.feedback-op {
    display: flex;
}

.feedback-op .btn {
    width: 80px;
    border-radius: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.post-submit {
    text-align: center;
}

.post-submit .btn {
    border-radius: 0px;
    text-transform: uppercase;
}


/*=======================
/** artist-commissoner dropdown css
=========================*/

.artistwrapper {
    background: #e9ebe9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.artistcol {
    margin: auto;
}

.upload-btn-wrapper {
    text-align: center;
    position: relative;
}

.upload-btn-wrapper a {
    font-size: 100px;
}

.upload-btn-wrapper input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.upload-thumb {
    position: relative;
}

.thumbnailtext {
    color: #067265;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.upload-thumb input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.thubnailbtn {
    margin-top: 10px;
    margin-bottom: 20px;
}

.thubnailbtn a {
    background-color: #ffffff;
    border: none;
    color: #000000;
    width: 85px;
    margin: 5px;
}

.maturitybox h2 {
    text-align: center;
    color: #067265;
    margin-bottom: 20px;
}

.maturityrating {
    max-width: 1000px;
    padding: 10px 0px;
    margin: auto;
}

.addmorebtn {
    text-align: center;
    margin: 10px 0px;
}

.subject-matter,
.medium-dropdown {
    width: 50%;
}

.username-dropdown {
    width: 100%;
}

.subject-matter .select2-container,
.medium-dropdown .select2-container,
.username-dropdown .select2-container {
    width: 100% !important;
}

.subject-matter .select2-container .select2-selection--single,
.medium-dropdown .select2-container .select2-selection--single,
.username-dropdown .select2-container .select2-selection--single {
    height: 40px;
    padding: 5px;
}

.subject-matter .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.medium-dropdown .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.username-matter .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.select2-container--default .select2-results__option--selected {
    color: #000000;
    background-color: #e9ebe9;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none;
}

.select2-results__option--selectable {
    color: #000000;
    background-color: #e9ebe9;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.hashtag .select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: #6c757d;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    /* top: -14px;
    font-size: 34px; */
    top: 0px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #14c4af;
}

.subject-matter-dropdown-container .select2-results .select2-results__option {
    /* background-image: url(../images/gallerytab.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 5px;
    margin: 5px;
    height: 40px; */
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: bold;
    font-size: 14px;
    /* color: #FFFFFF; */
}


/*=======================
/** Terms and conditions CSS
=========================*/

.terms-and-conditions {
    margin: 30px 0px;
}


/*=======================
/** login-register CSS
=========================*/

.login-register {
    padding: 20px 0px;
}

.loginregistertext {
    margin: 20px 0px;
    text-align: center;
}

.login-registerwrapper {
    max-width: 450px;
    margin: auto;
    background-color: #e9ebe9;
}

.login-register-form {
    padding: 50px;
}

.arts-control {
    width: 100%;
    padding: 10px;
    height: 42px;
    font-size: 14px;
    color: #000000;
    outline: none;
    background-color: #ffffff;
    border: none;
    margin-bottom: 30px;
}

.artscheck {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.loginbtn {
    text-align: center;
}

.loginbtn a {
    display: inline-block;
}

.forgottext {
    margin-bottom: 30px;
    text-align: center;
}


/*=======================
/** Profile CSS
=========================*/

.profile-setting {
    margin: 30px 0px;
}

.profile-wrapper {}

.profile-my-account h3.profile-title {
    background-color: #e9ebe9;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    line-height: 2;
}

.profile-my-account h3.profile-title span {
    font-size: 14px;
    left: 20px;
    position: absolute;
    top: 16px;
}

.profile-my-account h3.profile-title a {
    display: block;
    padding: 16px 55px;
    position: relative;
}

.profile-my-account h3.profile-title a::before {
    color: #000;
    content: "\f063";
    display: inline-block;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -14px;
}

.profile-my-account .profile-info-wrapper {
    padding: 30px 20px;
    background-color: #fff;
}

.profile-my-account .profile-info-wrapper .account-wrapper {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 28px;
    padding-bottom: 30px;
}

.profile-my-account .profile-info-wrapper .account-wrapper h4 {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.profile-my-account .profile-info-wrapper .account-wrapper h5 {
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 7px;
    font-weight: 600;
}

.profile-my-account .profile-info-wrapper .change-info {
    margin-bottom: 20px;
}

.profile-my-account .profile-info-wrapper .change-info label {
    font-size: 14px;
    text-transform: capitalize;
}

.profile-my-account .profile-info-wrapper .change-info input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    height: 40px;
    padding: 0 15px;
    width: 100%;
    outline: none;
}


/* Post page css  */

.postwrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.postbox {
    max-width: 600px;
    margin: auto;
    background-color: #eaeaea;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0;
}

.postslider.owl-carousel .owl-nav.disabled {
    display: block;
}

.postslider.owl-carousel .owl-nav.disabled {
    display: block;
}

.postslider.owl-carousel .owl-nav [class*="owl-"] {
    margin: 0;
    padding: 0;
    background-color: inherit;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.postslider.owl-carousel .owl-nav [class*="owl-"]:hover {
    color: #3680c5;
}

.postslider.owl-carousel .owl-nav [class*="owl-"] {
    color: #14c4af;
    font-size: 34px;
}

.postslider.owl-carousel .owl-nav [class*="owl-"]:hover {
    color: #c0c416;
}

.postslider.owl-carousel .owl-nav .owl-prev {
    left: -25px;
}

.postslider.owl-carousel .owl-nav .owl-next {
    right: -25px;
}

.postslider.owl-carousel .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.posttab {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.posttab li {
    padding: 0px;
}

.posttab li a {
    border-radius: 5px 5px 0px 0px;
    padding: 10px 25px;
    width: 100%;
}

.posttab ul .ui-state-active a {
    padding: 15px 25px;
}

#postdetails {
    background-color: #e9ebe9;
}


/*.commentsbox,*/

.reviewbox {
    padding: 10px;
    height: 110vh;
}

.descriptionbox {
    padding: 10px;
}

.destitle {
    text-align: center;
}

.debox {
    display: flex;
    justify-content: space-evenly;
}

.despostdate {
    text-align: center;
    color: #6c757d;
    font-weight: bold;
    margin-bottom: 10px;
}

.socialdes {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.socialdes .fb .btngreen {
    /* display:flex; */
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
    font-size: 12px;
}

.deshastag h3 .destag {
    color: #6c757d;
    font-weight: bold;
}

.deshastag h3 .destag i {
    color: #14c4af;
    margin-right: 10px;
}

.deshastag .btngreen {
    background-color: transparent;
    margin: 5px;
    color: #14c4af;
    padding: 5px 10px;
}

.desuername {
    color: #6c757d;
    font-weight: bold;
}

.descuserbox>h2 {
    color: #6c757d;
    font-weight: bold;
}

.likeviewcur {
    display: flex;
    justify-content: center;
}

.deslike p {
    color: #6c757d;
    font-weight: bold;
    margin: 0px 10px;
}

.desusercaption {
    display: flex;
    align-items: center;
    margin-top: 10px
}

.desusercaption img {
    max-width: 60px;
}

.descuerbox {
    display: grid;
    margin-left: 10px
}

.destitle h2 {
    font-size: 32px;
    margin-left: 20px;
}

.desowner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.desowner a {
    color: #6c757d;
}

.desinfo {
    margin: 20px 0px;
}

.desinfo p {
    color: #6c757d;
    font-weight: bold;
}

.deslike {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

.deslike .button {
    width: 50%;
    display: inline-block;
    margin: 15px;
}

.desoption {
    text-align: center;
    margin-bottom: 20px;
}

.desoption .btndarkyellow,
.desoption .btnyellow {
    border: none;
    border-radius: 0px;
    width: 200px;
}

.deshastag {
    margin-bottom: 20px;
}

.make-control {
    border: 1px solid #c0c416;
    outline: none;
    background-color: #ffffff;
    color: #6c757d;
    /* cursor: pointer; */
    border-radius: 0px;
    width: 90%;
    padding: 10px;
    /* text-align: center; */
}
.make-control::-webkit-input-placeholder {
    text-align: left;
  }
  .make-control:-moz-placeholder {
    text-align: left;
  }

.usercommentbox {
    height: 470px;
    /*max-height: ;*/
    overflow-y: scroll;
}

.usercomment {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.usercomment img {
    margin-right: 10px;
}

.artsoption .commissions {
    background-color: #c0c416;
    padding: 5px;
}

.item-active .tabbox::before {
    opacity: -0.7;
}

.artimgpost {
    display: inline-block;
    position: relative;
}

.upload-popup .modal-header .close {
    cursor: pointer;
}

.upload-popup .modal-header .close span {
    font-size: 22px;
}

.tabbox {
    width: 195px;
}

.no-spacing {
    margin: 0px;
    padding: 0px;
}

.atrtspostimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px var(--shadow);
}

.reviewbox img,
.commentsbox img {
    height: 150px;
}

.usercomment img {
    height: 70px;
}

.postslider img {
    min-height: 450px;
}

.btnfb {
    background-color: #3b5998;
}

.btntw {
    background-color: #1DA1F2;
}

.btnpi {
    background-color: #c8232c;
}

.btngreen.followbtn {
    padding: 5px;
}

.usercomment p {
    color: gray;
}

.displayname {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    color: white;
    font-weight: bolder;
}

.art-page-gallery .atrtspostimg a,
.postslider .owl-item .item {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 16.66%;
}

.art-page-gallery .atrtspostimg a:after,
.postslider .owl-item .item:after {
    content: "";
    padding-bottom: 100%;
    display: block;
    width: 100%;
}

.art-page-gallery .atrtspostimg a img,
.postslider .owl-item .item img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.row-wrap {
    display: flex;
    flex-wrap: wrap;
}

#comments {
    background-color: #e9ebe9;
}

#comments .makecomment {
    padding: 0px 15px 15px;
}

#comments .makecomment .btngreen {
    border-radius: 0px;
    width: 100%;
    max-width: 100px;
}

#comments .makecomment .btngreen:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

#comments .makecomment .make-control {
    max-width: calc(100% - 100px);
}

.commentsbox .usercomment {
    max-width: 100%;
    overflow: hidden;
}

.usercommentbox .user-image {
    text-align: center;
}

.postslider .owl-item .item {
    max-width: 100%;
}

.gridImage {
    margin: 1.5%;
    width: 100%;
    height: 200px;
}

.w-30 {
    width: 30%;
    position: relative;
    margin: 1.5%;
}

.w-30 .spanclose {
    right: 10% !important;
}

.spanclose {
    position: absolute;
    /* top: -1rem; */
    z-index: 100;
    color: red;
    font-size: 2rem;
    cursor: pointer;
    right: 17% !important;
}

.first-image .spanclose {
    right: 7% !important;
}

.gridSingleImage {
    width: 100%;
}

input#crop {
    padding: 5px 25px 5px 25px;
    background: lightseagreen;
    border: #485c61 1px solid;
    color: #FFF;
    visibility: hidden;
}

#cropped_img {
    margin-top: 40px;
}

#post-images-preview .col-md-4 img {
    height: 200px;
}

.fixed_header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.fixed-header-filter,
.suject-filter-fixed {
    position: fixed;
    width: 100%;
    z-index: 9;
}

.suject-filter-fixed {
    padding-bottom: 10px;
}

.fixed-header-filter {
    top: 19% !important;
}

.filter-fixed.gallery {
    padding: 70px 0px;
}

.filter-fixed-gallery {
    margin-top: 8% !important;
}

.fixed_header#header {
    top: 0 !important;
}

#postUploadModal .modal-body .btn {
    width: 145px !important;
}

#select2-keywords-container .select2-selection__choice__display {
    padding-left: 10px !important;
}
