/*=======================
/** Reset CSS
=========================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #FFFF99;
    color: #000000;
    text-decoration: none;
}

mark {
    background-color: #FFFF99;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*=======================
/** Common CSS
=========================*/
body {
    font-family: 'Anton', sans-serif;
    line-height: 1.15;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: bold;
}

/*=======================
/** Header CSS
=========================*/
#header {
    background-color: #E9EBE9;
    padding: 10px;
}

#header > .row {
    margin-left: 0px;
    margin-right: 0px;
}

#logo a {
    display: inline-block;
}

#logo img {
    display: block;
    width: 60px;
}

.header-search-box .form-group {
    align-items: center;
    margin-bottom: 0px;
}

.header-dropdown {
    display: flex;
    justify-content: flex-end;
}

.profile a, .message a, .notification a, .plus a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.profile img, .message img, .notification img, .plus img {
    display: block;
    width: 35px;
}

.profile_dropdown {
    top: 20px !important;
    left: -151px !important;
}

.message_dropdown {
    top: 20px !important;
    left: -105px !important;
}

.notification_dropdown {
    top: 20px !important;
    left: -60px !important;
}

.profile_dropdown, .message_dropdown, .notification_dropdown {
    position: absolute;
    user-select: none;
    background: #FFFFFF;
    border: 1px solid #C7D8E2;
    width: 200px;
    height: auto;
    display: none;
    border-radius: 3px;
    box-shadow: 10px 10px 35px rgb(0 0 0 / 13%), -10px -10px 35px rgb(0 0 0 / 13%);
}

.profile_dropdown::before, .message_dropdown::before, .notification_dropdown::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #FFFFFF transparent;
}

.profile_li {
    border-bottom: 1px solid #F1F2F4;
}

.profile_li a {
    display: block;
    padding: 10px;
    position: relative;
    color: #000000;
}

.profile_li a span {
    display: inline-block;
    width: 30px;
    margin-right: 20px;
}

.message_dropdown li, .notification_dropdown li {
    border-bottom: 1px solid #F1F2F4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 0px;
}

.form-control:focus {
    box-shadow: rgb(20 196 175) 0px 0px 0px 0.2rem;
}

/*=======================
/** Gallery CSS
=========================*/
.gallery {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-button {
    display: flex;
    justify-content: space-around;
    flex-wrap: inherit;
}

.no-spacing {
    margin: 0 !important;
    padding: 0 !important;
}

.gallery-tab {
    margin-bottom: 30px;
}

.tab-button .btn {
    width: 140px;
    margin-left: 10px;
    margin: 10px;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.mediums-dropdown {
    transform: translate3d(-60px, 38px, 0px) !important;
}

.filter .dropdown {
    margin-right: 10px;
}

.post-btn .btn {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 80px;
    margin-right: 10px;
}

.gallery-btn-green {
    background-color: #14C4AF;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #14C4AF;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: #FFFFFF;
}

.gallery-btn-yellow {
    background-color: #F0E965;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #F0E965;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: #FFFFFF;
}

.gallery-btn-dark-yellow {
    background-color: #C0C416;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #C0C416;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: #FFFFFF;
}

.page-type > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.page-type > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 16px var(--shadow);
}

.post {
    padding: 10px;
    background: #E9EBE9;
}

.page-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.small {
    grid-column: span 1;
    grid-row: span 1;
}

/*=======================
/** Footer CSS
=========================*/
#footer {
    background-color: #E9EBE9;
    padding: 10px;
}

#footer > .row {
    margin-left: 0px;
    margin-right: 0px;
}

.usefull-link ul {
    display: flex;
}

.usefull-link ul li {
    margin-left: 10px;
    margin-right: 10px;
}

.realeyze {
    display: flex;
    justify-content: flex-end;
}

/*----------------------------------------*/
/**  Upload-popup css
/*----------------------------------------*/
.upload-popup .modal-content {
    border: 0px;
    border-radius: 0px;
}

.upload-popup .modal-header {
    border-bottom: 0px;
}

.upload-popup .modal-header::after {
    content: "";
    position: absolute;
    width: 90%;
    top: 60px;
    border-bottom: 1px solid #E9ECEF;
}

.upload-popup .modal-body .popup-btn {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 5px;
    margin-top: 5px;
}

.upload-popup .modal-body #popup-option {
    display: none;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.upload-popup .modal-body .btn {
    width: 120px;
    display: block;
}

.upload-popup .modal-body span {
    margin-right: 10px;
    margin-left: 10px;
}

.upload-popup .modal-footer {
    border-top: 0px;
}

/*=======================
/** login-register CSS
=========================*/
.login-register-btn {
    display: block;
    text-align: right;
}

.login-register-btn a {
    display: inline-block;
}

.login-register-area {
    margin: auto;
}

.login-register {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-register-wrapper .login-register-tab-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
}

.login-register-wrapper .login-register-tab-list a {
    position: relative;
}

.login-register-wrapper .login-register-tab-list a:last-child:before {
    display: none;
}

.login-register-wrapper .login-register-tab-list a::before {
    background-color: rgb(0, 0, 0);
    bottom: 5px;
    content: "";
    height: 18px;
    margin: 0 auto;
    position: absolute;
    right: -2px;
    width: 1px;
}

.login-register-wrapper .login-register-tab-list a h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 20px;
    text-transform: capitalize;
    color: #000000;
    opacity: 0.5;
}

.login-register-wrapper .login-register-tab-list a.active h4 {
    opacity: 1;
}

.login-register-wrapper .login-form-container {
    background: #E9EBE9;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 80px;
    text-align: left;
    max-width: 500px;
}

.login-register-wrapper .login-form-container .login-register-form form input {
    background-color: transparent;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    font-size: 14px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    outline: none;
}

.login-toggle-btn {
    padding: 10px 0 19px;
    display: flex;
    justify-content: space-between;
}

.login-register-wrapper .login-form-container .login-register-form form input[type="checkbox"] {
    height: 15px;
    margin: 0;
    position: relative;
    top: 1px;
    width: 17px;
}

.login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn label {
    color: #253237;
    font-size: 15px;
    font-weight: 400;
}

.login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn a.flote-none {
    float: none !important;
}

.login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn a {
    color: #000000;
    text-align: right;
}

.forgot {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

.button-box {
    text-align: center;
}

.button-box .btn {
    width: 150px;
}

/*=======================
/** FAQ CSS
=========================*/
.faq {
    margin: 30px 0px;
}

/*=======================
/** Terms and conditions CSS
=========================*/
.terms-and-conditions {
    margin: 30px 0px;
}

/*=======================
/** Profile CSS
=========================*/
.profile-setting {
    margin: 30px 0px;
}

.profile-my-account h3.profile-title {
    background-color: #E9EBE9;
    border-bottom: 1px solid #EBEBEB;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    line-height: 2;
}

.profile-my-account h3.profile-title span {
    font-size: 14px;
    left: 20px;
    position: absolute;
    top: 16px;
}

.profile-my-account h3.profile-title a {
    display: block;
    padding: 16px 55px;
    position: relative;
}

.profile-my-account h3.profile-title a::before {
    color: #000000;
    content: "\f063";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -14px;
}

.profile-my-account .profile-info-wrapper {
    padding: 30px 20px;
    background-color: #FFFFFF;
}

.profile-my-account .profile-info-wrapper .account-wrapper {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 28px;
    padding-bottom: 30px;
}

.profile-my-account .profile-info-wrapper .account-wrapper h4 {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;

    font-weight: 700;
}

.profile-my-account .profile-info-wrapper .account-wrapper h5 {
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 7px;
    font-weight: 600;

}

.profile-my-account .profile-info-wrapper .change-info {
    margin-bottom: 20px;
}

.profile-my-account .profile-info-wrapper .change-info label {

    font-size: 14px;
    text-transform: capitalize;
}

.profile-my-account .profile-info-wrapper .change-info input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #EBEBEB;

    height: 40px;
    padding: 0 15px;
    width: 100%;
    outline: none;
}

/*=======================
/** artist page CSS
=========================*/
.post-upload {
    margin: 30px 0px;
}

.upload-info {
    display: flex;
    background: #E9EBE9;
    align-items: center;
    height: 150vh;
}

.upload-post {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.upload-post label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #FFFFFF;
    border-radius: 7px;
    border: 3px solid #EEEEEE;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.upload-post label:hover {
    border-color: #14C4AF;
}

.upload-post label.hover {
    border: 3px solid #14C4AF;
    box-shadow: inset 0 0 0 6px #EEEEEE;
}

.upload-post label.hover #start i.fa {
    transform: scale(0.8);
    opacity: 0.3;
}

.upload-post #start {
    float: left;
    clear: both;
    width: 100%;
}

.upload-post #start.hidden {
    display: none;
}

.upload-post #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}

.upload-post #response {
    float: left;
    clear: both;
    width: 100%;
}

.upload-post #response.hidden {
    display: none;
}

.upload-post #response #messages {
    margin-bottom: 0.5rem;
}

.upload-post #file-image {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
}

.upload-post #file-image.hidden {
    display: none;
}

.upload-post #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}

.upload-post #notimage.hidden {
    display: none;
}

.upload-post progress,
.upload-post .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #EEEEEE;
    overflow: hidden;
}

.upload-post .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #EEEEEE;
}

.upload-post input[type=file] {
    display: none;
}

.upload-post div {
    margin: 0 0 0.5rem 0;
    color: #BFC416;
}

.post-description {
    background: #E9EBE9;
    padding: 10px;
}

.post-dropdown {
    display: flex;
    margin-bottom: 10px;
}

.hashtag {
    margin-bottom: 10px;
}

.rating h5, .feedback h5 {
    color: #067265;
}

.owner-name {
    margin: 10px 0px;
}

.review {
    display: flex;
}

.review h3 {
    color: #067265;
}

.review p, .note h5 {
    color: #6C757D;
}

.artist-rating ul {
    list-style-type: none;
    display: inline-block;
}

.rating img {
    width: 100%;
    height: auto;
    max-width: 15px;
    margin-left: 10px;
}

.rating {
    display: flex;
    justify-content: space-between;
}

#full-stars-example-two .rating-group {
    display: inline-flex;
}

#full-stars-example-two .rating__icon {
    pointer-events: none;
}

#full-stars-example-two .rating__input {
    position: absolute !important;
    left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
    display: none;
}

#full-stars-example-two .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 25px;
}

#full-stars-example-two .rating__icon--star {
    color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #DDDDDD;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #DDDDDD;
}

.rating-title {
    text-align: right;
}

.rating-title span {
    margin-left: 10px;
    margin-right: 10px;
    color: #6C757D;
}

.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.feedback-op {
    display: flex;
}

.feedback-op .btn {
    width: 80px;
    border-radius: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.post-submit {
    text-align: center;
}

.post-submit .btn {
    border-radius: 0px;
    text-transform: uppercase;
}

/*=======================
/** post page CSS
=========================*/
.post-banner {
    margin-top: 30px;
}

.banner {
    position: relative;
    font-size: 0;
}

.banner img {
    width: 100%;
}

.post-wrapper > .row {
    margin-left: 0px;
    margin-right: 0px;
}

.post-artist {
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: flex;
}

.artist-name, .artist-mail, .post-like {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.artist-name i, .artist-mail i, .post-like i {
    margin-left: 10px;
    margin-right: 10px;
}

.post-like {
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: flex;
}

.banner::after {
    content: '';
    background-color: #FFFFFF;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.post-artist-info {
    margin-top: 40px;
}

.description-box h4 {
    padding: 20px 0px;
    color: #067265;
}

.description-box p {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #6C757D;
    text-align: justify;
}

.description-box {
    text-align: center;
}

.description-box .btn {
    border-radius: 0px;
}

.social-media ul li {
    margin: 10px 0px;
}

.social-media ul li a {
    font-size: 20px;
    color: #6C757D;
}

.social-media ul li a:hover {
    color: #067265;
}

/*=======================
/** artist-commissoner dropdown css
=========================*/
.subject-matter, .medium-dropdown {
    width: 50%;
}

.subject-matter .select2-container, .medium-dropdown .select2-container {
    width: 100% !important;
}

.subject-matter .select2-container .select2-selection--single, .medium-dropdown .select2-container .select2-selection--single {
    height: 40px;
    padding: 5px;
}

.subject-matter .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.medium-dropdown .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.select2-container--default .select2-results__option--selected {
    background-color: #FFFFFF;
    color: #6C757D;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #14C4AF !important;
    color: #6C757D;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none;
}

.select2-results__option--selectable {
    color: #6C757D;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.hashtag .select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #CED4DA;
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: #6C757D;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove, .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    top: -14px;
    font-size: 34px;
}

/* main page button slider css  */
.slick-prev:before,
.slick-next:before {
    color: black;
}

.gallery-tab .slick-arrow {
    color: #000000;
    font-size: 20px;
    display: block;
    width: 40px;
    height: 40px;
    background: #E9EBE9;
    text-align: center;
    z-index: 99;
    border-radius: 100%;
}

.gallery-tab .slick-arrow.slick-prev i {
    transform: rotate(180deg);
}

.gallery-tab .slick-prev {
    left: -35px;
}

.gallery-tab .slick-next {
    right: -35px;
}

@media only screen and (max-width: 991px) {
    .gallery-tab .slick-prev {
        left: -31px;
    }

    .gallery-tab .slick-next {
        right: -31px;
    }
}
